*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right bottom, rgb(26,26,26), rgb(30,30,30),black);
    padding: 20px;
    overflow: auto;
}

section{
    height: 100%;
    width: 350px;
    background-color: black;
    border-radius: 10px;
    margin: auto;
    /* overflow: hidden; */
}

.all-reels{
    height: 100%;
    width: 100%;
     overflow: auto;
     scroll-snap-type: y mandatory;
     scroll-behavior: smooth;
}

.all-reels::-webkit-scrollbar{
    display: none;
}

.reel{
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.reel video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.reel .bottom{
    padding: 30px 20px;
    background: linear-gradient(rgb(0, 0, 0,0),rgb(0, 0, 0,0.844));
    width: 100%;
    position: absolute;
    bottom: 0;

}

.bottom .user{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.bottom .user img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.bottom .user h4{
    font-size: 18px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.bottom .user button{
    background-color: transparent;
    padding: 7px 9px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 50px;
    border: 1px solid white;

}

.bottom>h3{
    font-weight: 500;
    font-size: 15px;
}

.right{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
    width: 40px;
    position: absolute;
    right: 0;
    /* height: 100%; */
    /* transform: translateX(100%); */
    bottom: 10%;
    /* background: linear-gradient(to right,transparent,rgba(0,0,0,0.284)); */
}

.right h4{
    cursor: pointer;
}

.right i{
    font-size: 25px;
    font-weight: 500;
}

.right h6{
    font-size: 16px;
    font-weight: 500;
}

.right>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    cursor: pointer;
}

.love{
    color: red;
}


.right>div h4{
    pointer-events: none;
}

.right>div h6{
    pointer-events: none;
}

.mute{
    background-color: #333;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 10px;
}

.mute i{
    font-size: 20px;
    pointer-events: none;
}

.mute:active{
    scale: 0.95;
}

