*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    gap: 15px;


    section{
        height: 100%;
        flex-grow: 1;
        background-position: center;
        background-size: cover;
        border: 2px solid black;
        transition: all ease 0.8s;
    }

    section:hover{
        flex-grow: 2;
    }

    section:nth-child(1){
        background-image: url("./ironman.jpeg");
    }

      section:nth-child(2){
        background-image: url("./spider.jpeg");
    }

      section:nth-child(3){
        background-image: url("./vanda.jpeg");
    }

      section:nth-child(4){
        background-image: url("./thor.jpeg");
    }

      section:nth-child(5){
        background-image: url("./captain.jpeg");
    }
}