*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Now Display';
}

html,body{
    height: 100%;
    width: 100%;
}




#nav{
    position: fixed;
    height: 45px;
    width: 100%;
    background-color: rgb(32, 32, 32);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e2cbcb;
    gap: 32px;
}

#nav h4{
    font-weight: 100;
    font-size: 1.8vh;
}

#nav i{
    font-size: 2.3vh;
}

#center{
    height: 80%;
    width: 100%;
    background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_medium.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
    padding-top: 39px;
}

 h1{
    font-size: 57px;
}

 h5{
    font-size: 25px;
    font-weight: 300;
}

#links{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
}


 button{
    padding: 11px 25px;
    border-radius: 50px;
    border: none;
    background-color: #0077ED;
    color: white;
    font-size: 2.3vh;
}

 #trans{
    background-color: transparent;
    border: #0077ED;
    border: 2px solid #0077ED;
    color: #0077ED;

}

  
  

 

#second{
    height: 80%;
    width: 100%;
    background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-air/hero_iphone_air__0gxyavihpiqu_medium.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: black;
    padding-top: 39px;
}




#third{
    height: 80%;
    width: 100%;
   background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-17/hero_iphone_17__c5vvimu9a20y_medium.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: black;
    padding-top: 39px;
}