*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.card{
    height: 400px;
    width: 340px;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(249, 8, 8);
    transition: all 0.3s linear;
    cursor: pointer;
}

.one{
   background-image: url('https://images.unsplash.com/photo-1606663889134-b1dedb5ed8b7?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2FydG9vbnN8ZW58MHwxfDB8fHww');
}

.two{
    background-image: url('https://plus.unsplash.com/premium_photo-1731816437401-ee280b1da088?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fGNhcnRvb25zfGVufDB8MXwwfHx8MA%3D%3D');
}

.three{
    background-image: url('https://plus.unsplash.com/premium_photo-1730802983669-8da6e0a78960?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8Y2FydG9vbnN8ZW58MHwxfDB8fHww');
}

body:has(.card:hover) .card{
    transform: scale(0.8);
    opacity: 0.8;
}

body .card:hover{
    transform: scale(1.2) !important;
    opacity: 1 !important;
}