*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: rgb(250, 178, 192);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box{
    height: 250px;
    width: 250px;
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;

}

button{
    padding: 20px 30px;
    background-color: chartreuse;
    color: black;
    border: none;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 10px;
}

button:active{
    scale: 0.95;
}