*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: rgb(18, 17, 17);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@mixin flex-column($gap:0rem) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

section{
    max-width: 2000px;
}

main{
    width: 100%;
   @include flex-column(0rem);
   align-items: center;



    section{
        width: 100%;
      @include flex-column(1rem);
        padding: 1rem;


        .top{
            width: 100%;
            

            img{
                width: 100%;
                border-radius: 0.6rem;
            }
        }

        .bottom{
            background-color: rgb(36, 35, 35);
            color: rgb(222, 212, 212);
            @include flex-column(3rem);
            padding: 1rem;
            border-radius: 10px;

            .text{
                @include flex-column(0.7rem);

                h1{
                  font-weight: 300;  
                  text-transform: uppercase;
                  font-size: 2.5rem;
                }

                p{
                    font-size: 1.29rem;
                    color: rgba(244, 242, 237, .6);
                    line-height: 1.7;
                    opacity: 0.8;
                    
                }

                button{
                    width: fit-content;
                    border: none;
                    outline: none;
                    padding: 0.7rem 1rem;
                    border-radius: 0.5rem;
                }
            }
        }


    }
}

@media (min-width: 900px){
    main{
        

        section{
            flex-direction: row;
            padding: 1rem 3rem;

          .top, .bottom{
            width: 50%;
          }

          .bottom{
            justify-content: space-between;
            padding: 4rem;
            .text{
                gap: 1.5rem;

                h1{
                    font-size: 4rem;
                }

                p{
                    font-size: 1.2rem;
                    width: 90%;
                }
            }
          }

        }
    }
}