*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

html,body{
    height: 1005;
    width: 100%;
}

nav{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: fixed;
    height: 12vh;
    width: 100%;
    padding: 2vw 10.5vw;
    background-color: #111;
    z-index: 10;
}

.nav-part2{
    display: flex;
    gap: 2vw;
    padding: 1vw 0;
    align-items: flex-start;
    z-index: 10;
}

nav h1{
    font-size: 1.6vw;
}

.nav-part2 h4{
    font-weight: 600;
    margin-bottom: 2.6vw;
    font-size: 0.75vw;
    text-transform: uppercase;
}

.nav-part2 h5{
    margin-bottom: 1vw;
    display: none;
    overflow: hidden;
}

.nav-part2 h5 span{
    display: inline-block;
    font-size: 0.74vw;
    font-weight: 400;
    transform: translateY(25px);
}

nav button{
    background-color: #0BA34E;
    padding: 14px 20px;
    font-size: 0.85vw;
    font-weight: 700;
    align-items: center;
    text-transform: uppercase;
    display: flex;
    border-radius: 50px;
    border: none;
}

nav button svg {
    height: 0.8vw;
    margin-left: 1.6vw;
}

#nav-bottom{
    width: 79%;
    top: 100%;
    background-color: #111;
    position: absolute;
    border-bottom: 1px solid #fff;
    z-index: 9;
}

.page1{
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.page1 h1 {
    font-size: 8.5vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 8.5vw;
}

.page1 h1 svg {
    height: 6vw;
    border-radius: 50%;
    width: 6vw;
    background-color: #0BA34E;
}

.page1 p{
    text-align: center;
    font-weight: 400;
    margin-top: 3vh;
    font-size: 1vw;
}

.page1 .branding{
    display: flex;
    text-align: center;
    justify-content: center;
}

.page1 .branding h4{
    font-size: 1vw;
    font-weight: 400;
    padding: 9px 18px;
    border: 1px solid hsl(0, 0%, 65%);
    margin-top: 0.5vw;
    border-radius: 50px;
    text-transform: lowercase;
}

.page1 .branding h4:nth-last-child(2){
    border: none;
    margin-top: 1.7vh;
    padding: 2px;
}

.marquee-div {
    margin-top: 10vh;
    position: absolute;
    bottom: 3%;
    white-space: nowrap;
    padding: 1.2vw;
    overflow: hidden;
    width: 44%;

}

.marquee-div .move {
    display: inline-block;
    animation-name: moving;
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.marquee-div .move img {
    height: 1vw;
    margin: 0 1.2vw;
}

@keyframes moving {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }

}

#blur-left {
    height: 100%;
    width: 20%;
    background: linear-gradient(to right, #111, transparent);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#blur-right {
    height: 100%;
    width: 20%;
    background: linear-gradient(to right, transparent, #111);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.page2{
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    border-top: 1px solid #333;
    position: relative;
    padding: 0vw 10.5vw;
    padding-bottom: 8vw;
    align-items: center;
    justify-content: space-between;
}

.page2-left{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 3vw 0;
    align-items: flex-start;
    justify-content: space-between;
}

.page2-left p{
    font-size: 0.8vw;
}

.page2-left h5{
    font-size: 1.1vw;
    font-weight: 400;
    width: 75%;
}

.page2-right{
    height: 100%;
    width: 50%;
}

.right-elem{
    position: relative;
    padding-top: 2vw;
    padding-bottom: 5vw;
    border-bottom: 1px solid #333;
}

.right-elem h2{
    font-size: 1.4vw;
    font-weight: 400;
}

.right-elem img{
    height: 7vw;
    width: 7vw;
    object-fit: cover;
    border-radius: 50%;
    scale: 0;
    opacity: 0;
    position: absolute;
}