*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
    padding: 10px;
}

.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.main{
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(2, 200px);
    gap: 15px;
    grid-template-areas: "box1 box2 box3 box3"
                         "box1 box4 box4 box5"
                         "box6 box6 box7 box5";
    padding: 15px;

}

#box1{
    grid-area: box1;

}

#box2{
    grid-area: box2;
}

#box3{
    grid-area: box3;
}

#box4{
    grid-area: box4;
}

#box5{
    grid-area: box5;
}

#box6{
    grid-area: box6;
}

#box7{
    grid-area: box7;
}

.box :hover{
     transition: all ease 0.5s;
     scale: 1.1;
     cursor: pointer;
}
